div.square{
  background-image: url('../images/1.png');
  width: 15em;
  height: 15em;
  /*min-height: 10em;*/
  /*min-width: 10em;*/
  background-color: #ffcc66;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

div.box-1{
	background-position: 0, 0;
}

div.box-2{
	background-position: -50px, -50px;
}
