div.square{
  background-image: url('../images/default.jpg');
  max-width: 144px;
  min-height: 144px;
  background-color: #000;
  text-align: center;
  border: 1px solid #000;
  padding: 0;
}

div.box-1{
	background-position: 0, 0;
	background-position-y: 0, 0;
}

div.box-2{
	background-position: 288px, 288px;
	background-position-y: 0, 0;
}

div.box-3{
	background-position: 144px, 144px;
	background-position-y: 0, 0;
}

div.box-4{
	background-position: 0, 0;
	background-position-y: 288px, 288px;
}

div.box-5{
	background-position: 288px, 288px;
	background-position-y: 288px, 288px;
}

div.box-6{
	background-position: 144px, 144px;
	background-position-y: 287px, 287px;
}

div.box-7{
	background-position: 0, 0;
	background-position-y: 144px, 144px;
}

div.box-8{
	background-position: 288px, 288px;
	background-position-y: 144px, 144px;
}

div.box-9{
	background-position: 143px, 143px;
	background-position-y: 144px, 144px;
	background-image: none;
}

section{
  background: linear-gradient(to bottom, #ffcc99 50%, #ff0000 100%);

}

h1 {
  font-family: 'Kumar One Outline';font-size: 32px;
  
}

.game-info{
   font-family: 'Kumar One Outline';font-size: 20px;
}

.option{
  cursor: pointer;
}

.option:hover{
  background-color: #e1b4b4;
}